.author-link {
    /* Fallback: Set a background color. */
    background-color: $blue;
    
    /* Create the gradient. */
    background-image: $blue;
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    &:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }
  }