.carousel {
    width: 75vw;
    height: 75vw;
    margin: 0 auto;
    position: relative;

    @media(min-width: $desktop-breakpoint) {
        width: 50vw;
        height: calc(50vw * .5625);
    }
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
    overflow: hidden;
}

.carousel__track-container {
    padding: 10px;
    height: 100%;
    position: relative;
}

.carousel__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    cursor: pointer;

    img {
        width: 100%;
        height: 75vw;
        object-fit: cover;

        @media(min-width: $desktop-breakpoint) {
            height: calc(50vw * .5625);
        }
        
    }
    transition: all 500ms ease-in;

    .carousel-slide-title {
        position: absolute;
        bottom: 5%;
        width: 100%;
        text-align: left;
        z-index: 2;
        padding-left: 10px;
        padding-right: 10px;

        --min: 1.25rem;
        --val: 3vw;

        @media(min-width: $desktop-breakpoint) {
            bottom: 1%;        
        }
    }

    .carousel-slide-overlay {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: rgba(0,0,0,.4);
    }

    &:hover {
        .carousel-slide-title {
            text-decoration: underline;
        }
    }  
}

.carousel__button {
    z-index: 2;
    position: absolute;
    top: 40%;
    height: auto;
    outline: none;
    background: none;
    color: $blue;
    border: none;
    font-size: 2rem;
    &--left {
        left: -30px;
    }
    &--right {
        right: -30px;
    }
}
