
@import 'header';
@import 'vars';
@import 'article';
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500&family=Oswald&family=Rajdhani:wght@300;400&family=Teko:wght@300;500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: black;
  color: white;

  &.mobile-menu-active {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $blue;
  font-family: 'Teko', sans-serif;
  text-transform: capitalize;
  &:hover {
      text-decoration: underline;
      text-decoration-color: white;
  }
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin-left: 0;
  padding: 0;
}

.container-border {
  border: 2px solid;
  border-image: linear-gradient(to right, $pink, $blue) 1;
  max-width: 36rem;
  padding: 1rem;
  margin: 3rem auto 6rem;
}


h1,h2,h3,h4 {
  font-family: 'Teko', sans-serif;
}
p {
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
}


#header-placeholder {
  background-color: black;
  width: 100%;
  height: 100px;

  body.no-scroll & {
    display: none;
  }
}

.twitter {
  @include fa-icon-brands($fa-var-twitter);
}

.fb {
  @include fa-icon-brands($fa-var-facebook);
}

.ig {
  @include fa-icon-brands($fa-var-instagram);
}
