.container-border {
  border: 2px solid;
  border-image: linear-gradient(to right, $pink, $blue) 1;
  max-width: 36rem;
  padding: 1rem;
  margin: 3rem auto 6rem;
}

.main-container {
  display: block;
  margin: auto;
  max-width: 900px;
  @include breakpoint($desktop-breakpoint) {
    margin-right: 30%;
  }
}

#header-placeholder {
  background-color: black;
  width: 100%;

  body.no-scroll & {
    display: none;
  }
}

.about-links-container {
  background-color: black;
  list-style: none;
  padding-left: 20px;
  display: none;
  width: 15%;
  position: fixed;
  left: 0px;
  font-size: 1.5rem;

  @include breakpoint($desktop-breakpoint) {
    display: inline-block;
  }
}
