.post-list {
    list-style: none;
    margin-right: none;
    border: 2px solid;
    border-image: linear-gradient(to right, $pink, $blue) 1;
    padding: 1rem;
    width: 80%;
    margin: auto;
}

.post-list-item > a {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    text-decoration: none;
    max-width: 800px;
    flex-direction: column;
    &:hover {
        text-decoration: none;
        .post-list-item-text-title {
            text-decoration: underline;
            text-decoration-color: white;
        }        
    }
    border-bottom: 1px dotted white;

    @include breakpoint($desktop-breakpoint) {
        flex-direction: row;
    }
}

.post-list-item-image {
    display: block;
    
    margin: auto;
    margin-bottom: 1rem;
    @include breakpoint($desktop-breakpoint) {
        margin-right: 1rem;
        width: 40%;
    }
    
}

.post-list-item-text-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include breakpoint($desktop-breakpoint) {
        width: 60%;
    }
}

.post-list-item-text-title, .post-list-item-text-date, .post-list-item-text-body {
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 1rem;
}


.post-list-item-text-body {
    font-size: .75rem;
    color: white;
    line-height: 1.25;
}

.post-list-title {
    width: 80%; 
    margin: auto;
    color: $pink;
}